
.custom-button {

    padding: 10px 20px; 
    background-color: #005186; 
    color: white; 
    border: none;
    border-radius: 5px; 
    cursor: pointer; 

}
.custom-button:hover {
    background-color: #2980b9;
}
body {
    background-color: #00aeff;
}
.container {
    text-align: center; 
    margin-top: 50px; 
}
.containerRegister {
    text-align: center; 
    margin-top: 10px;
}