
.custom-button {

    padding: 10px 20px; 
    background-color: #005186; 
    color: white; 
    border: none;
    border-radius: 5px; 
    cursor: pointer; 

}
.custom-button:hover {
    background-color: #2980b9;
}
body {
    background-color: #00aeff;
}
.container {
    text-align: center; 
    margin-top: 50px; 
}
.containerRegister {
    text-align: center; 
    margin-top: 10px;
}
input[type="text"] {
    border-radius: 10px; /* Adjust the value to round the corners more or less */
    padding: 8px; /* Add padding for better appearance */
    border: 1px solid #ccc; /* Add a border for visibility */
}
input[type="text"] {
    border-radius: 10px; /* Adjust the value to round the corners more or less */
    padding: 8px; /* Add padding for better appearance */
    border: 1px solid #ccc; /* Add a border for visibility */
}
input[type="password"] {
    border-radius: 10px; /* Adjust the value to round the corners more or less */
    padding: 8px; /* Add padding for better appearance */
    border: 1px solid #ccc; /* Add a border for visibility */
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
.profile-section {
    margin-bottom: 15px;
}
.label {
    font-weight: bold;
}
.backgroundprofile{
    background-color: white;
}
.profileBackground{
    background-color: white;
    width: 550px;
    height: 1080px;
}
.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* Creates a round shape */
    object-fit: fill; /* Helps maintain aspect ratio */
}
